## Lists files not in repository including those ignored by .gitignore:
# git status --untracked-files --ignored

#Don't show the ones that are ignored by .gitignore:
# git status --untracked-files

InputFiles/*.*
Obsolete/*.*
TestDocs/*.*
resized_images/*.*

*.pdf
*.jpg
*.jpeg
*.png

Manager2QB/__pycache__
Manager2QB/manager_decoded
Manager2QB/manager_exports
Manager2QB/ObsoleteScripts
Manager2QB/quickbooks_import
*.csv
*.manager
Manager2QB/SalesInvooices
Manager2QB/transaction_analysis.txt
Manager2QB/QBooks_Import.*

